.home
{
    margin-top: 57px;
    background-image:
    linear-gradient(to left , rgba(14, 29, 114, 0.52), rgba(14, 29, 114, 0.73)),
    url('img/img/hero_img.jpg');
    background-position: center;
    min-height: 99vh;
    background-repeat: no-repeat;
    background-size: cover;   
}

.homerow{
    min-height: 99vh;
}
.header
{
    color: white;   
}

.icon{
    content: "\f03e";
    color: #cc1fa1;
    font-size: 50px;
}